@()

@import ch.insign.cms.blocks.jotformpageblock.permission.JotFormPermission
@import ch.insign.cms.views.html.admin.shared.layout;
@import ch.insign.cms.views.admin.utils.AdminContext;
@import ch.insign.cms.blocks.jotformpageblock.view.html.tableBodyContent
@import ch.insign.playauth.views.helper._

@pageFooter = {
    <script src="@{ch.insign.cms.views.html.tags._asset("backend/js/jotform.js")}"></script>
}

@layout(new AdminContext, Messages("jotform.list.title"), null, pageFooter) {
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>&nbsp;@Messages("jotform.list.title")
                    </div>
                    @hasPermission(JotFormPermission.ADD) {
                        <div class="actions">
                            <a class="btn red" id="add-jotform" href="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.listFormModal">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp;@Messages("jotform.list.add.btn")
                            </a>
                        </div>
                    }
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-advance">
                        <thead>
                            <tr>
                                <th>@Messages("jotform.modal.head.id")</th>
                                <th>@Messages("jotform.modal.head.title")</th>
                                <th>@Messages("jotform.modal.head.created")</th>
                                <th>@Messages("jotform.modal.head.updated")</th>
                                <th>@Messages("jotform.modal.head.count")</th>
                                <th>@Messages("jotform.modal.head.actions")</th>
                            </tr>
                        </thead>
                        <tbody id="tableBodyContent">
                            @tableBodyContent()
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<div class="fade" data-keyboard="true" data-backdrop="false" id="modal-add-jotform" tabindex="-1" role="dialog" aria-hidden="true"></div>

