@if(flash.containsKey("message")) {
    <div class="alert alert-info">
        @Html(flash.get("message"))
    </div>
}

@if(flash.containsKey("success-disappear")) {
    <div class="alert alert-success flash-disappear">
    @Html(flash.get("success-disappear"))
    </div>
}

@if(flash.containsKey("success")) {
    <div class="alert alert-success">
        @Html(flash.get("success"))
    </div>
}

@if(flash.containsKey("error")) {
    <div class="alert alert-danger">
    @Html(flash.get("error"))
    </div>
}