@(action : play.api.mvc.Call, languages: Seq[String], args : Seq[(Symbol, String)])(body : => Html)

@defining(UUID.randomUUID()) { formId =>

    <form action="@action.url" method="@action.method" @toHtmlArgs(args.toMap) mstring-form="@formId">
        <div class="form-body tabs-language">
            <ul class="nav nav-tabs tabs-below">
            @for(lang <- languages) {
                <li mstring-tab="@{lang}">
                    <a href="#" class="mstring-form-changeTab" data-form_id="@{formId}" data-lang="@{lang}">
                        @if(session().contains("flags")) {
                            <img src="@{views.html.metronic.tags._asset("img/flags/" + lang + ".png")}" />
                            @lang
                        } else {
                            @lang.toUpperCase
                        }
                    </a>
                </li>
            }
            </ul>
        </div>
        @body
    </form>

}