@import ch.insign.commons.db.SmartForm
@(theForm: Form[_], formKey: String, label: String, o: Seq[(ch.insign.commons.db.Model,String)], emptyOption: String = null, select2me: Boolean = true)(implicit handler: views.html.helper.FieldConstructor, messages: play.api.i18n.Messages)

@import views.html.helper.FieldElements
@import metronic._

@tpl = {
	@defining(theForm.asInstanceOf[SmartForm[_]]){ smartForm =>
	@defining(if(smartForm.isFieldEmpty(formKey)) "" else theForm(formKey).sub("id").value){ value =>
	    <select id="@formKey" name="@formKey" class="form-control @if(select2me){select2me}">
	    @if(emptyOption != null){
	    	<option value="">@emptyOption</option>
	    }
	    @for(option <- o) {
	        <option value="@option._1.getId" @if(value == option._1.getId){selected}>@option._2</option>
	    }
	    </select>
    }}
}

@handler(
    FieldElements(
        formKey,
        theForm(formKey),
        tpl,
        scala.collection.immutable.Map('_label -> label),
        messages
    )
)