@(data: ch.insign.cms.models.ContentBlock)(extension: Html=Html.apply(""))

@import ch.insign.cms.models.Template
@import ch.insign.cms.views.html._blockBase;
@import play.api.i18n.Messages;

@_blockBase(data = data, delete=true, edit=true, add=false, color="red", name=Messages("content.block.name")) {
	<!-- Start ContentBlock @data.getId -->
		<h3>@data.getTitle</h3>
	    <p>@{Html(data.getContent.get)}</p>
        @extension
	<!-- End ContentBlock @data.getId -->
}
