.sortable-box-placeholder {
    /*background-color: #f5f5f5;*/
    border:1px dashed #aaa;
    background:#f6f6f6;
    display: block;
    min-height: 50px;
    margin-top: 0px !important;
    margin-bottom: 24px !important;
}

.sortable-box-placeholder * {
   /* visibility:hidden;*/
}

.sortContainer .editbar, .sortContainerHorizontal .portlet-header .block-title {
    cursor:move;
}

.sortContainer {
    min-height: 50px;
}

.landing-zone {
    border: 3px dashed #DDDDDD;
    padding: 3px;
}