@(data: ch.insign.cms.models.AbstractBlock)

@import ch.insign.cms.permissions.BlockPermission
@import ch.insign.playauth.PlayAuth
@import ch.insign.playauth.views.helper._
@import ch.insign.playauth.PlayAuth.{isPermitted, isRestricted, getSecurityIdentity => toSid, getObjectIdentity => toOid, getPermissionManager => pm, getAccessControlManager => acm}
@import ch.insign.playauth.authz.DomainPermission
@import ch.insign.playauth.authz.SecurityIdentity.{ ALL => ANYONE }
@import ch.insign.playauth.authz.ObjectIdentity.{ ALL => ANYTHING }
@import ch.insign.playauth.permissions.AclPermission.{ UPDATE_ACL }
@import ch.insign.playauth.utils.AuthzFormHandler
@import play.api.i18n.Messages

@isInherited(authority: Any, permission: DomainPermission[_]) = @{
    !acm.containsPermission(authority, permission)
}

@isDirectlyAllowed(authority: Any, permission: DomainPermission[_]) = @{
    pm.getAllowedPermissions(toSid(authority), permission.target)
            .map(pm.getQualifiedName(_))
            .exists(_.equals(pm.getQualifiedName(permission)));
}

@isDirectlyDenied(authority: Any, permission: DomainPermission[_]) = @{
    pm.getDeniedPermissions(toSid(authority), permission.target)
            .map(pm.getQualifiedName(_))
            .exists(_.equals(pm.getQualifiedName(permission)));
}

@isAllowedByDefault(authority: Any, permission: DomainPermission[_]) = @{
    acm.isPermittedByDefault(authority, permission)
}

@isDeniedByDefault(authority: Any, permission: DomainPermission[_]) = @{
    !isAllowedByDefault(authority, permission)
}

@canGrantOrRevoke(p: DomainPermission[_]) = @{
    isPermitted(UPDATE_ACL(p.target))
}

@showToggleRestrictionBtn(permission: DomainPermission[_]) = @{
    !permission.id.equals(BlockPermission.MODIFY.id) || !isRestricted(permission)
}

@restrictionTag(permission: DomainPermission[_]) = @{
    if(isDirectlyAllowed(ANYONE, permission)) {
        "unrestricted"
    } else if (isDirectlyDenied(ANYONE, permission)) {
        "restricted"
    } else if (isAllowedByDefault(ANYONE, permission)) {
        "unrestricted"
    } else {
        "restricted"
    }
}

@permissions(data: Any) = @{
    val oid = toOid(data)
    pm.getDefinedPermissions(data.getClass).filter(_.id != UPDATE_ACL.id).toList.sortBy(_.name).map(_.apply(oid))
}

@target(permission: DomainPermission[_]) = @{
    if(permission.target != ANYTHING) {
        Option(":" + permission.target.getType + "-" + permission.target.getIdentifier)
    } else {
        None
    }
}

@anchor(authority: Any, permission: DomainPermission[_]) = @{
    Seq(Option(authority).map(toSid(_)).filter(_ != ANYONE).map(sid => sid.getType + "." + sid.getIdentifier).getOrElse(""),
        permission.id,
        Option(permission.target).filter(_ != ANYTHING).map(oid => oid.getType + "." + oid.getIdentifier).getOrElse(""))
            .filter(_.nonEmpty)
            .mkString("-")
}

@permissionTitle(p: DomainPermission[_], targetTitle: Option[String] = None) = {
    @targetTitle.map{ title =>
        @Html(Messages(p.id + ".specific_title", title))
    }.getOrElse {
        @Html(Messages(p.id + ".title"))
    }
}

@rmsg(key: String, args: Seq[scala.Any] = Seq()) = {
    @Html(Messages("cms.block.permissions." + key, args:_*))
}

@msg(key: String, args: Seq[scala.Any] = Seq()) = {
    @Messages("cms.block.permissions." + key, args:_*)
}

@permissionEntry(authority: Any, p: DomainPermission[_], title: Html) = {
    @defining(pm.resolvePermissionsAllowedBy(p)){ impliedPerms =>
        @defining(AuthzFormHandler.generateAuthzInputName(toSid(authority), p.id)) { inputName =>
            <fieldset @if(!canGrantOrRevoke(p)) { disabled="disabled" title="@msg("grant-and-revoke.forbidden")" }>
                <div class="input-group permission-input" data-is-permitted-by-default="@acm.isPermittedByDefault(authority, p)">
                    <div class="btn-group authz-switch @if(isInherited(authority, p)) { not-selected } else { selected }" data-toggle="authz-switch">

                        <label class="btn btn-xs btn-allow @if(isDirectlyAllowed(authority, p)){ active } @if(isAllowedByDefault(authority, p)){ default }" >
                            <input type="radio" class="toggle" name="@inputName" value="allow@target(p)" @if(isDirectlyAllowed(authority, p)){ checked }>

                            <span class="visible-inactive glyphicon glyphicon-ok-circle" title="@msg("allow.label")"></span>
                            <span class="visible-active glyphicon glyphicon-ok-circle" title="@msg("allowed.label")"></span>
                            <span class="visible-default glyphicon glyphicon-ok-circle" title="@msg("allowed-by-default.label")"></span>
                        </label>

                        <label class="btn btn-xs btn-deny @if(isDirectlyDenied(authority, p)){ active } @if(isDeniedByDefault(authority, p)){ default }">
                            <input type="radio" class="toggle" name="@inputName" value="deny@target(p)" @if(isDirectlyDenied(authority, p)){ checked }>

                            <span class="visible-inactive glyphicon glyphicon-ban-circle" title="@msg("deny.label")"></span>
                            <span class="visible-active glyphicon glyphicon-ban-circle" title="@msg("denied.label")"></span>
                            <span class="visible-default glyphicon glyphicon-ban-circle" title="@msg("denied-by-default.label")"></span>
                        </label>

                        <label class="btn btn-xs btn-inherit fallback @if(isInherited(authority, p)){ active }">
                            <input type="radio" class="toggle" name="@inputName" value="inherit@target(p)" @if(isInherited(authority, p)){ checked }>
                        </label>
                    </div>
                    <label id="@anchor(authority, p)">
                    @title
                </label>
                </div>
            </fieldset>
        }
    }
}

@permissions(data).map { permission =>
    <div class="form-group permission-group @restrictionTag(permission)" data-is-permitted-by-default="@acm.isPermitted(ANYONE, permission)">
        <label for="role-@permission.id" class="col-md-3 control-label" id="@anchor(null, permission(ANYTHING))">
            @Messages(permission.id + ".title")
            <i class="fa fa-lock visible-restricted"></i>
            <i class="fa fa-unlock-alt visible-unrestricted"></i>

            @defining(pm.resolvePermissionsAllowedBy(permission)){ ps =>
                <p class="help-block">
                    @if(ps.nonEmpty) {
                        @{rmsg("implies-other-permissions",
                            Seq(permissionTitle(permission),
                                ps.size,
                                ps.map(p => rmsg("implies-other-permissions.item", Seq(permissionTitle(p), anchor(null, p(ANYTHING))))).mkString(", ")))}
                    }
                </p>
            }
        </label>

        <div class="col-md-9">

            @if(showToggleRestrictionBtn(permission)){
                <div class="authz-switch-all">
                    @permissionEntry(ANYONE, permission, rmsg("all.users"))
                </div>
            }

            <div class="visible-restricted">
                @PlayAuth.getPartyRoleManager.findAll.filter(r => !acm.isPermittedEverything(r)).map { role =>
                    @permissionEntry(role, permission, Html(role.getName))
                }
            </div>

        </div>
    </div>
}



