@(templates: java.util.List[ch.insign.cms.models.CustomerEmailTemplate], emailForm: Form[_])

@import ch.insign.cms.views.cms.templateCmsHorizontalAdminConstructor
@import ch.insign.commons.i18n.Language
@import ch.insign.cms.models.CustomerEmailTemplate
@import ch.insign.cms.models.Template
@import helper._

@util.Javascript.add {
    <script>
        if ($("#send-email-checkbox").is(":checked")) {
            $("#send-email-block-data").show();
        }

        $("#send-email-checkbox").change(function () {
            if ($(this).is(':checked')) {
                $("#send-email-block-data").show();
            } else {
                $("#send-email-block-data").hide();
            }
        });
    </script>
}

<div class="form-group" @if(CustomerEmailTemplate.getEmailTemplatesEditFrom.isEmpty) {
    style="display: none;" } >
    <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-9 col-md-8 col-sm-6">
        @checkbox(
            emailForm("sendEmail"),
            'id -> "send-email-checkbox",
            '_label -> Messages("backend.customer.user.emailTemplate.send.label")
        )(views.html.helper.FieldConstructor(ch.insign.cms.views.html.helpers.inlineCheckboxConstructor.f), null)
    </div>
</div>

<div id="send-email-block-data" style="display : none">
    <div class="form-group">
        <div class="tab-content">
        @for(lang <- Language.getAllLanguages) {
            <div class="tab-pane @if(Language.getCurrentLang.code.equals(lang)) { active }" id="customerEmail-@lang">

            @metronic.container(emailForm("customerEmailTemplates"), Messages("backend.customer.user.emailTemplate.customerTemplatesList.label")) {
                <br>
                <table class="table table-bordered table-hover customer-table" id="customerEmailTemplates">
                    <thead>
                        <tr>
                            <th></th>
                            <th role="columnheader">@Messages("backend.customer.user.emailTemplate.head.subject")</th>
                            <th role="columnheader">@Messages("backend.customer.user.emailTemplate.head.select")</th>
                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    @templates.zipWithIndex.filter(_._1.getSubject.get(lang)).map { case (emailTemplate, index) =>
                    <tr class="odd gradeX" id="row@emailTemplate.getId">
                        <td data-toggle="collapse" data-target=".row-@emailTemplate.getId"><i class="fa fa-plus" style="cursor : pointer"></i></td>
                        <td>@emailTemplate.getSubject.get(lang)</td>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" name="customerEmailTemplates[@index].id" value="@emailTemplate.getId"
                                @for(i <- 0 to templates.size) {
                                    @Option(emailForm.data.get("customerEmailTemplates[" + i + "].id")).filter(_ == emailTemplate.getId).map { _ =>
                                        checked
                                    }
                                }
                                >
                            </label>
                        </td>
                    </tr>
                    <tr class="collapse row-@emailTemplate.getId">
                        <td>&nbsp;</td>
                        <td colspan="7">
                            <div class="checkout_container">
                                <div class="row" id="template-@emailTemplate.getId">
                                    <div class="col-md-12">
                                        @Template.html(emailTemplate.getContent.get(lang))
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                    </tbody>

                </table>
                <br>
                }
            </div>
        }
        </div>
    </div>
</div>