@(emailTemplateForm: Form[ch.insign.cms.models.CustomerEmailTemplate], customerEmailTemplate: ch.insign.cms.models.CustomerEmailTemplate)

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.cms.templateCmsHorizontalAdminConstructor
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.cms.views.html.helpers.formKeyAdditional
@import ch.insign.commons.i18n.Language
@import ch.insign.cms.controllers.CmsContext
@import ch.insign.cms.views.html.helpers.mstring
@import ch.insign.cms.views.html.helpers.mstringTextarea
@import ch.insign.cms.views.html.helpers.mstringHtmlView
@import ch.insign.cms.views.html.mstringFormFrontend
@import ch.insign.cms.models.CustomerEmailTemplate
@import ch.insign.cms.controllers.routes

@util.Javascript.add {
    <script>
    mstring.init("@Option(CmsContext.current).map(_.getLanguage).filter(_.nonEmpty).getOrElse(Language.getDefaultLanguage)");
    </script>
}

@pageFooter = {
    <script type="text/javascript">
    ( function ( $ ) {
    $ ( 'textarea[id^="content"]' ).css ( 'height', '500px' )
    } ) ( jQuery ) ;
    </script>
}

@ch.insign.cms.views.html.admin.emailTemplate.edit(emailTemplateForm, customerEmailTemplate) {
    @formKeyAdditional("typeList*")

    <div class="form-group">
        @metronic.container(emailTemplateForm("typeList"), Messages("backend.customer.user.emailTemplate.typeList.label")) {
            @CustomerEmailTemplate.UserFormType.values().map { formType =>
                <label class="checkbox-inline">
                    <input type="checkbox" name="typeList[]" value="@formType"
                    @Option(customerEmailTemplate.getTypeList).filter(_.contains(formType)).map { _ =>
                        checked
                    }
                    >
                    @Messages("backend.customer.user.emailTemplate.type." + formType.name().toLowerCase)
                </label>
            }
        }
    </div>

}